@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* define warna sebagai variabel */
  :root {
    --color-white1: #f8f9fa;
    --color-black1: #0a0908;
    --color-primary: #eae0d5;
    --color-secondary: #bd9f7e;
    --color-accent: #5e503f;
  }

  form input,
  form textarea,
  form select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--color-secondary);
    border-radius: 0.375rem;
  }

  form input:focus,
  form textarea:focus,
  form select:focus {
    outline: none;
    border-color: var(--color-accent);
    box-shadow: 0 0 0 1px var(--color-secondary);
  }

  .footer-bg {
    position: relative; /* Required for absolute positioning of overlay */
    background-image: url("/static/images/batik.avif");
    background-size: cover; /* or 'contain' depending on your preference */
    background-position: center;
    overflow: hidden; /* Ensures the overlay stays within the footer */
  }

  /* semua yg besar pake cantana one */
  h1,
  h2,
  h3 {
    font-family: "Cantata One", serif;
  }
  .font-header {
    font-family: "Cantata One", serif;
  }

  /* yg kecil plus jakarta */
  p,
  span,
  div {
    font-family: "Plus Jakarta Sans", serif;
  }
}
