{% load static %}

<nav class="bg-[#F8F9FA] fixed top-0 left-0 z-[100] w-screen shadow-md">
  <!-- Desktop menu -->
  <div class="px-4 py-4 mx-auto max-w-7xl sm:px-6 lg:px-10">
    <!-- Container -->
    <div class="flex items-center justify-between">
      <!-- Logo -->
      <div class="flex items-center">
        <a href="/" class="flex items-center">
          <img src="{% static 'logos/company-logo.png' %}" alt="Company Logo" width="120px" height="66px">
        </a>
      </div>

      {% comment %} links {% endcomment %}
      <div class="md:flex md:gap-[36px] lg:gap-[52px] items-center hidden">
        {% for key, link in links.items %}
          {% if not link.user_only or  user.is_authenticated %}
            <a href="{{ link.url }}" class="flex flex-col gap-1 items-center justify-center hover:opacity-80 hover:-translate-y-[2px] transition {% if request.path == link.url %} 
                  text-secondary 
                {% else %} 
                  text-accent 
                {% endif %}">
              {% include "icons/"|add:link.filename %}
              <span class="text-sm font-medium">{{ key|title }}</span>
            </a>
          {% endif %}
        {% endfor %}
      </div>

      {% comment %} right buttons {% endcomment %}
      <div class="items-center hidden gap-6 px-1 md:flex"> 
        {% if user.is_authenticated %}
          <span>
            <a href="/carts">{% include "icons/shopcart_icon.html" %}</a>
          </span>
          <span class="h-6 w-[1px] border border-gray-300"> </span>
          <span>{% include "icons/profile_icon.html" %}</span>
        {% else %}
          <a href="{% url 'main:login' %}" class="px-6 py-2 mr-2 font-bold text-center transition duration-300 border rounded hover:opacity-80 text-accent border-accent">
            Login
          </a>

          <a href="{% url 'main:register' %}" class="px-6 py-2 font-bold text-center transition duration-300 rounded bg-accent hover:opacity-80 text-white1">
            Register
          </a>
        {% endif %}
      </div>
      <div class="flex items-center md:hidden">
        <button class="mobile-menu-button">
          <svg id="burger-icon" class="w-6 h-6 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M4 6h16M4 12h16M4 18h16"></path>
          </svg>
          <svg id="close-icon" class="hidden w-6 h-6 text-gray-600" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
            <path d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <!-- Mobile menu -->
  <div class="hidden w-full px-4 pb-6 mobile-menu md:max-w-full">
    <div class="pt-2 pb-3 mx-auto space-y-4">
      {% if user.is_authenticated %}
        <div class="flex items-center gap-2 font-bold text-gray-800">
          <span class="block">Welcome, {{ user.username }}</span>
          <span class="block h-6 w-[1px] border border-gray-300"></span>
          <span class="block">BP: ${{ user.money }}</span>
        </div>
        <div class="h-[1px] bg-gray-300 my-2"></div> <!-- Separator -->
        <div class="flex flex-col gap-2">
          {% for key, link in links.items %}
            <a href="{{ link.url }}" class="flex items-center gap-4 px-4 py-2 transition duration-300 rounded hover:bg-gray-200">
              {% include "icons/"|add:link.filename %}
              <span class="text-sm">{{ key|title }}</span>
            </a>
          {% endfor %}
        </div>
        <div class="h-[1px] bg-gray-300 my-2"></div> <!-- Separator -->
        <span>
          <a href="/carts" class="flex items-center py-2 px-4 gap-[10px] hover:bg-gray-200 rounded transition duration-300">
            {% include "icons/shopcart_icon.html" %}
            <span class="mr-1 text-sm">Cart</span>
          </a>
        </span>
        <a href="{% url 'reviews:user_reviews' %}" class="block px-4 py-2 font-bold text-center text-white transition duration-300 bg-blue-500 rounded hover:bg-blue-600">
          My Review
        </a>
        <a href="{% url 'main:logout' %}" class="block px-4 py-2 font-bold text-center text-white transition duration-300 bg-red-500 rounded hover:bg-red-600">
          Logout
        </a>
      {% else %}
        
        <div class="h-[1px] bg-gray-300 my-2"></div> <!-- Separator -->
        <a href="{% url 'main:login' %}" class="block px-4 py-2 mb-2 font-bold text-center transition duration-300 border rounded hover:bg-gray-200 text-accent border-accent">
          Login
        </a>
        <a href="{% url 'main:register' %}" class="block px-4 py-2 font-bold text-center transition duration-300 rounded bg-accent hover:opacity-80 text-white1">
          Register
        </a>
      {% endif %}
    </div>
  </div>

  <!-- scripts -->
  <script>
    const btn = document.querySelector("button.mobile-menu-button");
    const menu = document.querySelector(".mobile-menu");
    const burgerIcon = document.getElementById("burger-icon");
    const closeIcon = document.getElementById("close-icon");
    
    btn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
      burgerIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
    });
  </script>
</nav>