{% extends "base.html" %}
{% load static %}
{% block meta %}
<title>Edit Store</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
 <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock meta %}
{% block content %}


<div class="relative m-10 overflow-hidden bg-white rounded-lg shadow-lg mx-72">  <!-- Increased max width -->
    <div class="px-6 py-4 text-2xl font-bold text-center text-white bg-secondary font-body">
        Edit Your Store
    </div>
    <form id="register-form" class="px-6 py-4" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <!-- Store Name Field -->
        <div class="mb-4">
            <label class="block mb-2 font-bold text-gray-700" for="id_name">
                Store Name
            </label>
            <input
                class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="id_name" name="name" type="text" placeholder="Enter store name" value="{{ store.name }}" required>
        </div>
    
        <!-- Store Description Field -->
        <div class="mb-4">
            <label class="block mb-2 font-bold text-gray-700" for="id_description">
                Store Description
            </label>
            <textarea
                class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="id_description" name="description" rows="4" placeholder="Enter store description">{{ store.description }}</textarea>
        </div>
    
        <!-- Image Selection Option -->
        <div class="mb-4">
            <label class="block mb-2 font-bold text-gray-700">
                Store Image Option
            </label>
            <div class="flex items-center gap-4">
                <label class="flex items-center text-gray-700">
                    <input type="radio" name="choice" value="upload" class="mr-2" checked> Upload Image
                </label>
                <label class="flex items-center text-gray-700">
                    <input type="radio" name="choice" value="url" class="mr-2"> Image URL
                </label>
            </div>
        </div>
    
        <!-- Store Image Upload Field -->
        <div id="photo-upload-field" class="mb-4">
            <label class="block mb-2 font-bold text-gray-700" for="id_photo_upload">
                Upload Store Image
            </label>
            <input
                class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="id_photo_upload" name="photo_upload" type="file">
        </div>
    
        <!-- Store Image URL Field -->
        <div id="photo-url-field" class="mb-4" style="display: none;">
            <label class="block mb-2 font-bold text-gray-700" for="id_photo">
                Store Image URL
            </label>
            <input
                class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="id_photo" name="photo" type="text" placeholder="Enter image URL">
        </div>
    
        <!-- Store Location Field -->
        <div class="mb-4">
            <label class="block mb-2 font-bold text-gray-700" for="id_location">
                Store Location
            </label>
            <input
                class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
                id="id_location" name="location" type="text" placeholder="Enter store location" value="{{ store.location }}" required>
        </div>
    
        <!-- Submit Button -->
        <div class="flex items-center justify-center gap-4 mb-4">
            <button
                class="px-4 py-2 text-white rounded bg-secondary hover:bg-gray-800 focus:outline-none focus:shadow-outline"
                type="submit">
                Register Store
            </button>
            <a
                href="{% url 'stores:owner_store_view' store.id %}"
                class="px-4 py-2 text-white rounded bg-secondary hover:bg-gray-800 focus:outline-none focus:shadow-outline">
                Back
            </a>
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const choiceRadios = document.querySelectorAll("input[name='choice']");
        const uploadField = document.getElementById("photo-upload-field");
        const urlField = document.getElementById("photo-url-field");

        function toggleFields() {
            if (document.querySelector("input[name='choice']:checked").value === "upload") {
                uploadField.style.display = "block";
                urlField.style.display = "none";
            } else {
                uploadField.style.display = "none";
                urlField.style.display = "block";
            }
        }

        choiceRadios.forEach(radio => radio.addEventListener("change", toggleFields));
        toggleFields();  // Initial toggle based on the default selection
    });
</script>

{% endblock content %}