{% if stores %}
    <div class="grid grid-cols-2 gap-6 w-full">
        {% for store in stores %}
            <div class="border border-secondary w-full rounded overflow-hidden shadow-lg flex flex-row items-center p-6 gap-8 transition-transform duration-300 hover:shadow-2xl hover:scale-105">
                <!-- Store Image -->
                {% if store.get_image %}
                    <img src="{{ store.get_image }}" alt="{{ store.name }}" class="h-48 w-48 object-cover rounded">
                {% else %}
                    <p>No image available</p>
                {% endif %}

                <!-- Store Info and Actions -->
                <div class="flex flex-col flex-grow">
                    <!-- Store Name and Description -->
                    <h1 class="text-3xl font-bold mb-4 text-secondary font-header">{{ store.name }}</h1>
                    <p class="text-gray-700 font-body text-sm mb-4 w-fit">{{ store.location }}</p>
                    <p class="text-base mb-4">{{ store.description }}</p>
                    
                    <!-- Action Buttons -->
                    <div class="flex gap-4 mt-auto">
                        <a href="{% if is_user_store_view %}{% url 'stores:owner_store_view' store.id %}{% else %}{% url 'stores:show_store_details' store.id %}{% endif %}"
                           class="w-40 text-center px-5 py-2.5 rounded-lg text-sm font-medium border border-current bg-secondary text-white hover:bg-transparent hover:text-gray-500 transition-all duration-300">
                            Go to Store Page
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>No stores found.</p>
{% endif %}
