{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>{{ store.name }} - Store Details</title>
<meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock meta %}

{% block content %}
<div class="flex items-center px-4 mt-4 mb-4 space-x-4 font-body sm:px-28">
  <span class="text-base text-gray-500">
    <a href="{% url 'stores:show_stores' %}" class="cursor-pointer w-40 text-center py-2.5 rounded-lg text-sm tracking-wider font-medium outline-none text-secondary hover:text-orange-400 transition-all duration-300">
      Stores
    </a>
  </span>
  <span>
    <svg xmlns="http://www.w3.org/2000/svg" class="fill-gray-400 w-3.5 -rotate-90" viewBox="0 0 24 24">
        <path fill-rule="evenodd"
          d="M11.99997 18.1669a2.38 2.38 0 0 1-1.68266-.69733l-9.52-9.52a2.38 2.38 0 1 1 3.36532-3.36532l7.83734 7.83734 7.83734-7.83734a2.38 2.38 0 1 1 3.36532 3.36532l-9.52 9.52a2.38 2.38 0 0 1-1.68266.69734z"
          clip-rule="evenodd" data-original="#000000"></path>
    </svg>
  </span>
  <span class="text-base text-gray-500 cursor-pointer">
    <a href="" class="cursor-pointer w-40 text-center py-2.5 rounded-lg text-sm tracking-wider font-medium outline-none text-secondary hover:text-orange-400 transition-all duration-300">
      {{ store.name }}
    </a>
  </span>
</div>

<div class="container px-4 mx-auto sm:px-28">
  <div class="p-6 mb-6 bg-white rounded-lg shadow">
    <div class="flex flex-col items-center gap-6 p-4 mb-10 border rounded-lg md:flex-row border-secondary">
      <img src="{{ store.get_image }}" alt="{{ store.name }}" class="w-[12rem] rounded-md">
      <div class="flex flex-col">
        <h1 class="mb-2 text-3xl font-bold font-header">{{ store.name }}</h1>
        <p class="mb-2 text-sm text-gray-700 font-body">{{ store.location }}</p>
        <p class="mb-4 text-base text-gray-700 font-body">{{ store.description }}</p>
        <div class="font-body">
          <a href="/chats/{{ store.id }}" class="w-40 text-center px-5 py-2.5 rounded-lg text-sm tracking-wider font-medium border border-current bg-secondary hover:bg-transparent text-white hover:text-orange-400 transition-all duration-300">
            Chat Store
          </a>
        </div>
      </div>
    </div>

    <h2 class="mb-4 text-2xl font-semibold">Products</h2>
    {% if products %}
      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {% for product in products %}
        <a href="{% url 'products:product_detail' product.id %}" class="hover:shadow-md shadow-white1">
            <div class="p-4 overflow-hidden bg-gray-100 rounded-lg shadow-lg">
                    <img src="{{ product.image_url }}" alt="{{ product.name }}" class="object-cover w-full h-32 mb-2">
                    <div class="flex flex-col">
                    <div class="text-xl font-bold">{{ product.name }}</div>
                    <p class="text-base text-gray-700 h-[200px] overflow-y-scroll">{{ product.description }}</p>
                    <p class="mt-2 font-bold">Price: ${{ product.price }}</p>
                    </div>
                </div>
            </a>
          
        {% endfor %}
      </div>
    {% else %}
      <p class="text-gray-700">No products available for this store.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}