{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Available Stores</title>
<meta charset="UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="flex flex-col p-6 mx-auto space-y-3 max-w-7xl md:px-10 mb-9 ">
    <h1 class="mb-3 text-3xl">Stores</h1>
  <div class="font-sans">
    <div class="flex flex-col items-center justify-between md:flex-row mb-9">
      <ul class="flex flex-wrap">
        <li id="allStoresTab" class="tab text-accent font-bold text-[15px] py-2.5 px-5 border-b-2 border-accent cursor-pointer">
          All Stores
        </li>
        {% if user.is_authenticated %}
          <li id="myStoresTab" class="tab text-gray-400 font-semibold text-[15px] py-2.5 px-5 border-b-2 border-transparent cursor-pointer">
            My Stores
          </li>
          <li id="open-modal" class="tab text-gray-400 font-semibold text-[15px] py-2.5 px-5 border-b-2 border-transparent cursor-pointer">
            <button class="">Register Store</button>
          </li>
        {% endif %}
      </ul>

      <input type="text" id="store-search" class="px-6 py-2 mt-2 ml-auto border rounded md:mt-0" placeholder="Search store by name">
    </div>

    <div id="allStoresContent" class="tab-content">
      <!-- Container for AJAX-loaded store results -->
      <div id="store-results">
        {% include 'search_stores.html' with stores=stores %}
      </div>
    </div>
    
    <div id="myStoresContent" class="hidden tab-content">  <!-- Hide My Stores content initially -->
      <div id="my-store-results">
        <!-- User stores will be loaded here -->
      </div>
    </div>
  </div>

<!-- Modal for Registering Store -->
<div id="register-modal" class="fixed inset-0 z-50 flex items-center justify-center hidden pt-[250px] overflow-auto bg-black bg-opacity-50">
<div class="relative w-full max-w-lg mx-4 overflow-hidden bg-white rounded-lg shadow-lg sm:mx-8 md:mx-16 lg:mx-32">
    <div class="px-6 py-4 text-2xl font-bold text-center text-white bg-secondary font-body">
    Register Your Store
    </div>
    <form id="register-form" class="px-6 py-4" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <!-- Store Name Field -->
    <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="id_name">
        Store Name
        </label>
        <input
        class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
        id="id_name" name="name" type="text" placeholder="Enter store name" required>
    </div>
    
    <!-- Store Description Field -->
    <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="id_description">
        Store Description
        </label>
        <textarea
        class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
        id="id_description" name="description" rows="4" placeholder="Enter store description"></textarea>
    </div>
    
    <!-- Image Selection Option -->
    <div class="flex flex-col w-full mb-4">
        <label class="block mb-2 font-bold text-gray-700">
        Store Image Option
        </label>
        <div class="flex items-center gap-4">
        <label class="items-center text-gray-700 ">
            <input type="radio" name="choice" value="upload" class="mr-2" checked> Upload Image
        </label>
        <label class="items-center text-gray-700 ">
            <input type="radio" name="choice" value="url" class="mr-2"> Image URL
        </label>
        </div>
    </div>
    
    <!-- Store Image Upload Field -->
    <div id="photo-upload-field" class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="id_photo_upload">
        Upload Store Image
        </label>
        <input
        class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
        id="id_photo_upload" name="photo_upload" type="file">
    </div>
    
    <!-- Store Image URL Field -->
    <div id="photo-url-field" class="mb-4" style="display: none;">
        <label class="block mb-2 font-bold text-gray-700" for="id_photo">
        Store Image URL
        </label>
        <input
        class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
        id="id_photo" name="photo" type="text" placeholder="Enter image URL">
    </div>
    
    <!-- Store Location Field -->
    <div class="mb-4">
        <label class="block mb-2 font-bold text-gray-700" for="id_location">
        Store Location
        </label>
        <input
        class="w-full px-4 py-2 leading-tight text-gray-700 border rounded shadow appearance-none focus:outline-none focus:shadow-outline"
        id="id_location" name="location" type="text" placeholder="Enter store location" required>
    </div>
    
    <!-- Submit Button -->
    <div class="flex items-center justify-center gap-4 mb-4">
        <button
        class="px-4 py-2 text-white rounded bg-secondary hover:bg-gray-800 focus:outline-none focus:shadow-outline"
        type="submit">
        Register Store
        </button>
        <button
        type="button"
        id="close-modal"
        class="px-4 py-2 text-white rounded bg-secondary hover:bg-gray-800 focus:outline-none focus:shadow-outline">
        Back
        </button>
    </div>
    </form>
</div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let tabs = document.querySelectorAll('.tab');
        let contents = document.querySelectorAll('.tab-content');
        let currentView = 'all';  // Default view to 'all'

        function showContent(activeTabId) {
            contents.forEach(function (content) {
                content.classList.add('hidden');  // Hide all content
            });
            tabs.forEach(function (tab) {
                tab.classList.remove('border-accent', 'font-bold', 'text-accent');
                tab.classList.add('border-transparent', 'text-gray-400', 'font-semibold');
            });

            let targetId = activeTabId.replace('Tab', 'Content');
            document.getElementById(targetId).classList.remove('hidden');

            document.getElementById(activeTabId).classList.add('border-accent', 'font-bold', 'text-accent');
            document.getElementById(activeTabId).classList.remove('border-transparent', 'text-gray-400', 'font-semibold');
        }

        const initialTabId = 'allStoresTab';
        showContent(initialTabId);

        tabs.forEach(function (tab) {
            tab.addEventListener('click', function () {
                if (tab.id !== 'open-modal') {
                    showContent(tab.id);
                    currentView = (tab.id === 'allStoresTab') ? 'all' : 'my';
                }
            });
        });

        // Show the register modal when clicking the "Register Store" button
        document.getElementById("open-modal").addEventListener("click", function () {
            document.getElementById("register-modal").classList.remove("hidden");
        });

        // Close the register modal when clicking the "Back" button
        document.getElementById("close-modal").addEventListener("click", function () {
            document.getElementById("register-modal").classList.add("hidden");
        });

        document.getElementById("register-form").addEventListener("submit", function (event) {
            event.preventDefault();
            const formData = new FormData(this);

            fetch("{% url 'stores:register_store' %}", {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (response.ok) return response.json();
                throw new Error('Error registering store.');
            })
            .then(data => {
                loadAllStores();  // Ensure all stores get reloaded
                loadUserStores();
                document.getElementById("register-modal").classList.add("hidden");
                this.reset();
            })
            .catch(error => console.error("Error registering store:", error));
        });

        document.getElementById("store-search").addEventListener("input", function() {
            const query = this.value;

            fetch("{% url 'stores:search_stores' %}?q=" + encodeURIComponent(query), {
                headers: { "X-Requested-With": "XMLHttpRequest" }
            })
            .then(response => response.json())
            .then(data => {
                if (currentView == 'my'){
                    document.getElementById("my-store-results").innerHTML = data.html;
                } else {
                    document.getElementById("store-results").innerHTML = data.html;  
                }
            })
            .catch(error => console.error("Error searching stores:", error));
        });

        function loadAllStores() {
            fetch("{% url 'stores:load_all_stores' %}", { headers: { "X-Requested-With": "XMLHttpRequest" } })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("store-results").innerHTML = data.html;  
                })
                .catch(error => console.error("Error loading all stores:", error));
            }

        function loadUserStores() {
            fetch("{% url 'stores:show_user_store' %}", { headers: { "X-Requested-With": "XMLHttpRequest" } })
                .then(response => response.json())
                .then(data => {
                    document.getElementById("my-store-results").innerHTML = data.html;
                })
                .catch(error => console.error("Error loading user's stores:", error));
        }

        document.getElementById("myStoresTab").addEventListener("click", function(event) {
            event.preventDefault();
            currentView = 'my';
            loadUserStores();
            document.getElementById("store-search").value = '';
        });

        document.getElementById("allStoresTab").addEventListener("click", function(event) {
            event.preventDefault();
            currentView = 'all';
            loadAllStores();
            document.getElementById("store-search").value = '';
        });
        
        const choiceRadios = document.querySelectorAll("input[name='choice']");
        const uploadField = document.getElementById("photo-upload-field");
        const urlField = document.getElementById("photo-url-field");

        function toggleFields() {
            if (document.querySelector("input[name='choice']:checked").value === "upload") {
                uploadField.style.display = "block";
                urlField.style.display = "none";
            } else {
                uploadField.style.display = "none";
                urlField.style.display = "block";
            }
        }

        choiceRadios.forEach(radio => radio.addEventListener("change", toggleFields));
        toggleFields();
    });
</script>

{% endblock content %}
