{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Available Stores</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}
<div class="flex flex-col px-28 mb-9 space-y-3">
    <div class="flex flex-col px-28 mb-9 space-y-3">
        <ul class="inline-flex flex-row w-fit items-center gap-8 px-6 py-4 text-indigo-100 bg-indigo-900 rounded-lg">
            <li>
                <a href="{% url 'stores:show_stores' %}">All Stores</a>
            </li>
            <li>
                <a href="{% url 'stores:show_user_store' %}">My Stores</a>
            </li>
            <li>
                <a href="{% url 'stores:register_store' %}">Register Store</a>
            </li>
        </ul>
    </div>

    {% if stores %}
        <div class="columns-1 sm:columns-1 lg:columns-2 gap-6 space-y-6 w-full">
            {% for s in stores %}
                <div class="bg-gray-200 w-full rounded overflow-hidden shadow-lg flex flex-col items-center p-4">
                    <img src=" {{ s.photo }} " alt="Sunset in the mountains" class="object-cover rounded">
                    <div class="flex flex-col items-center px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ s.name }}</div>
                        <p class="text-gray-700 text-sm">{{ s.description }}</p>
                        <a class="px-6 py-2 mt-4 min-w-[120px] text-center text-white bg-gray-500 border border-gray-500 rounded active:text-gray-600 hover:bg-transparent hover:text-gray-500 focus:outline-none focus:ring"
                        href="{% url 'stores:owner_store_view' s.pk %}">
                        Go to Store Page
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No stores available.</p>
    {% endif %}
</div>


{% endblock content %}