
{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Bali Delights</title>

{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<h1>Bali Delights</h1>

<h2>PBP - D03</h2>
<!-- Ubah sesuai dengan npm kamu -->
<h3>Anggota:</h3>
<ul>
  <li>Muhammad Azzam / 2306220444
<li>Karolina Jocelyn / 2306221762</li>
<li>Pascal Hafidz Fajri / 2306222746</li>
<li>Edmond Christian / 2306208363</li>
<li>Pradipta Wachyu Aditama / 2306226233</li>

</ul>
<!-- Ubah sesuai dengan nama kamu -->

{% endblock content %}
