{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Main</title>
<script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
{% endblock meta %}

{% block content %}

  <div class="flex flex-col">
      <h1 class="text-3xl font-bold">Hello, {{ username }}!</h1>
      <div>
          <br>
          <h2>User Information:</h2>
          <ul>
              <li><strong>Username:</strong> {{ username }}</li>
              <li><strong>Email:</strong> {{ email }}</li>
              <li><strong>Role:</strong> {{ role }}</li>
              <li><strong>Money:</strong> {{ money }}</li>
              <li><strong>Account Created At:</strong> {{ created_at }}</li>
              <li><strong>Last Login:</strong> {{ last_login }}</li>
          </ul>
      </div>
  </div>
{% endblock content %}